

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 220px;
    width: 220px;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background: teal;
    align-items: center;
}

img {

    max-height: 80%;
    max-width: 80%;
}